<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Project</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <style>
               body {
            background-color: #eeeeee;
        }
    </style>
</head>
<body>

<section class="section">
    <div class="container" style="max-width: 600px;">

        <h1 class="title has-text-centered mb-5">Edit Project</h1>

        <form th:object="${project}" th:action="@{/saveproject}" method="post" class="box">

            <!-- hidden id -->
            <input type="hidden" th:field="*{projectId}" />

            <!-- Project Name -->
            <div class="field">
                <label class="label">Project Name</label>
                <div class="control">
                    <input class="input" type="text" th:field="*{name}" required>
                </div>
            </div>

            <!-- Description -->
            <div class="field">
                <label class="label">Description <span class="has-text-grey-light">(optional)</span></label>
                <div class="control">
                    <textarea class="textarea" th:field="*{description}"></textarea>
                </div>
            </div>

            <!-- Visibility -->
            <div class="field">
                <label class="label">Visibility</label>
                <div class="control">
                    <div class="select">
                        <select th:field="*{private}">
                            <option th:value="false" th:text="'Private'" />
                            <option th:value="true" th:text="'Public'" />
                        </select>
                    </div>
                </div>
            </div>

            <!-- Submit -->
            <div class="field has-text-centered mt-5">
                <button class="button is-link is-light" type="submit">Save Project</button>
                <a th:href="@{/projects}" class="button is-light ml-2">Cancel</a>
            </div>

        </form>
    </div>
</section>

</body>
</html>
